# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
gallery/couples/DSC02231.jpg
gallery/couples/DSC02800.ARW
gallery/couples/DSC03213.jpg
gallery/couples/DSC08839.jpg
gallery/couples/DSC08856.jpg
gallery/couples/DSC08861.jpg
gallery/couples/no edit-edit/edited.1.jpg
gallery/couples/no edit-edit/edited.2.jpg
gallery/couples/no edit-edit/edited.jpg
gallery/couples/no edit-edit/edited2.jpg
gallery/couples/no edit-edit/unedit.1.ARW
gallery/couples/no edit-edit/unedited.2.ARW
gallery/couples/no edit-edit/unedited.ARW
gallery/events/DSC03775.JPG
gallery/events/DSC03847.JPG
gallery/events/DSC03865.JPG
gallery/events/DSC03867.JPG
gallery/events/DSC03882.JPG
gallery/events/DSC03979.JPG
gallery/events/DSC03985.JPG
gallery/events/DSC03993.JPG
gallery/portaits/DSC00804 copy.jpg
gallery/portaits/DSC04630 bw.jpg
gallery/portaits/DSC07166.JPG
gallery/portaits/DSC07183.JPG
gallery/portaits/DSC07225.jpg
gallery/portaits/DSC07565.jpg
gallery/portaits/DSC09723.jpg
gallery/portaits/manos-8.jpg
gallery/portaits/manos-17.jpg
gallery/portaits/εκθεση 1.jpg
gallery/portaits/edit-no edit/edit.1.jpg
gallery/portaits/edit-no edit/edit.jpg
gallery/portaits/edit-no edit/unedit.1.ARW
gallery/portaits/edit-no edit/unedit.ARW
gallery/shops/1 (1 of 15).jpg
gallery/shops/1 (2 of 15).jpg
gallery/shops/1 (2 of 23).jpg
gallery/shops/1 (3 of 15).jpg
gallery/shops/1 (4 of 15).jpg
gallery/shops/1 (5 of 15).jpg
gallery/shops/1 (6 of 15).jpg
gallery/shops/1 (6 of 23).jpg
gallery/shops/1 (7 of 15).jpg
gallery/shops/1 (7 of 23).jpg
gallery/shops/1.jpg
gallery/shops/2 (21 of 64).jpg
gallery/shops/2 (23 of 64).jpg
gallery/shops/2 (24 of 64).jpg
gallery/shops/2 (25 of 64).jpg
gallery/shops/2 (26 of 64).jpg
gallery/shops/2 (34 of 41).jpg
gallery/shops/2 (35 of 41).jpg
gallery/shops/2 (36 of 41).jpg
gallery/shops/2 (37 of 41).jpg
gallery/shops/2 (39 of 64).jpg
gallery/shops/2 (40 of 64).jpg
gallery/shops/2 (41 of 64).jpg
gallery/shops/2 (44 of 64).jpg
gallery/shops/4 (6 of 21).jpg
gallery/shops/4 (7 of 21).jpg
gallery/shops/4 (8 of 21).jpg
gallery/shops/4 (9 of 21).jpg
gallery/shops/4 (10 of 21).jpg
gallery/shops/4 (16 of 21).jpg
gallery/shops/4 (18 of 21).jpg
gallery/shops/4 (20 of 21).jpg
gallery/shops/5 (5 of 27).jpg
gallery/shops/5 (6 of 27).jpg
gallery/shops/5 (7 of 27).jpg
gallery/shops/5 (20 of 27).jpg
gallery/shops/5 (21 of 27).jpg
gallery/shops/5 (22 of 27).jpg
gallery/shops/12.jpg
gallery/shops/DSC05956.jpg
gallery/shops/DSC05969.jpg
gallery/shops/DSC06502.jpg
gallery/shops/DSC06535.JPG
gallery/shops/DSC06569.JPG
gallery/shops/DSC06572.JPG
gallery/shops/DSC06588.JPG
gallery/shops/DSC06600.JPG
gallery/shops/DSC06601.JPG
gallery/shops/DSC06617.JPG
gallery/shops/DSC06627.JPG
gallery/shops/DSC06636.JPG
gallery/shops/DSC06642.JPG
gallery/shops/DSC06647.JPG
gallery/shops/DSC09536.JPG
gallery/studio portatis/DSC03544.jpg
gallery/studio portatis/DSC03572.jpg
gallery/studio portatis/DSC03694.jpg
gallery/studio portatis/DSC04703.jpg
gallery/studio portatis/DSC04838.jpg
gallery/studio portatis/DSC05094.jpg
gallery/studio portatis/DSC05270.jpg
gallery/studio portatis/DSC05276-Edit.jpg
gallery/studio portatis/DSC06253.jpg
gallery/studio portatis/DSC06324.jpg
gallery/studio portatis/DSC06379.JPG
gallery/studio portatis/DSC06436.JPG
gallery/studio portatis/DSC06492.jpg
gallery/studio portatis/DSC06542.jpg
gallery/studio portatis/DSC06804.jpg
public/gallery/couples/DSC02231.jpg
public/gallery/couples/DSC02800.ARW
public/gallery/couples/DSC03213.jpg
public/gallery/couples/edited.1.jpg
public/gallery/couples/edited.2.jpg
public/gallery/couples/edited.jpg
public/gallery/couples/edited2.jpg
public/gallery/portaits/DSC00804 copy.jpg
public/gallery/portaits/DSC04630 bw.jpg
public/gallery/portaits/DSC07166.JPG
public/gallery/portaits/DSC07183.JPG
public/gallery/portaits/DSC07225.jpg
public/gallery/portaits/DSC07565.jpg
public/gallery/portaits/DSC09723.jpg
public/gallery/portaits/edit.1.jpg
public/gallery/portaits/edit.jpg
public/gallery/portaits/manos-8.jpg
public/gallery/portaits/manos-17.jpg
public/gallery/portaits/εκθεση 1.jpg
public/gallery/shops/1 (1 of 15).jpg
public/gallery/shops/1 (2 of 15).jpg
public/gallery/shops/1 (3 of 15).jpg
public/gallery/shops/1 (4 of 15).jpg
public/gallery/shops/1 (5 of 15).jpg
public/gallery/shops/1 (6 of 15).jpg
public/gallery/shops/1 (6 of 23).jpg
public/gallery/shops/1 (7 of 15).jpg
public/gallery/shops/1.jpg
public/gallery/shops/2 (21 of 64).jpg
public/gallery/shops/2 (23 of 64).jpg
public/gallery/shops/2 (24 of 64).jpg
public/gallery/shops/2 (25 of 64).jpg
public/gallery/shops/2 (26 of 64).jpg
public/gallery/shops/2 (34 of 41).jpg
public/gallery/shops/2 (35 of 41).jpg
public/gallery/shops/2 (36 of 41).jpg
public/gallery/shops/2 (37 of 41).jpg
public/gallery/shops/2 (39 of 64).jpg
public/gallery/shops/2 (40 of 64).jpg
public/gallery/shops/2 (41 of 64).jpg
public/gallery/shops/2 (44 of 64).jpg
public/gallery/shops/4 (6 of 21).jpg
public/gallery/shops/4 (7 of 21).jpg
public/gallery/shops/4 (8 of 21).jpg
public/gallery/shops/4 (9 of 21).jpg
public/gallery/shops/4 (10 of 21).jpg
public/gallery/shops/4 (16 of 21).jpg
public/gallery/shops/4 (18 of 21).jpg
public/gallery/shops/4 (20 of 21).jpg
public/gallery/shops/5 (5 of 27).jpg
public/gallery/shops/5 (6 of 27).jpg
public/gallery/shops/5 (7 of 27).jpg
public/gallery/shops/5 (20 of 27).jpg
public/gallery/shops/5 (21 of 27).jpg
public/gallery/shops/5 (22 of 27).jpg
public/gallery/shops/DSC05956.jpg
public/gallery/shops/DSC05969.jpg
public/gallery/shops/DSC06502.jpg
public/gallery/shops/DSC06535.JPG
public/gallery/shops/DSC06569.JPG
public/gallery/shops/DSC06572.JPG
public/gallery/shops/DSC06588.JPG
public/gallery/shops/DSC06600.JPG
public/gallery/shops/DSC06601.JPG
public/gallery/shops/DSC06617.JPG
public/gallery/shops/DSC06627.JPG
public/gallery/shops/DSC06636.JPG
public/gallery/shops/DSC06642.JPG
public/gallery/shops/DSC06647.JPG
public/gallery/shops/DSC09536.JPG
public/gallery/studio portatis/DSC03544.jpg
public/gallery/studio portatis/DSC03572.jpg
public/gallery/studio portatis/DSC03694.jpg
public/gallery/studio portatis/DSC04703.jpg
public/gallery/studio portatis/DSC04838.jpg
public/gallery/studio portatis/DSC05094.jpg
public/gallery/studio portatis/DSC05270.jpg
public/gallery/studio portatis/DSC05276-Edit.jpg
public/gallery/studio portatis/DSC06253.jpg
public/gallery/studio portatis/DSC06324.jpg
public/gallery/studio portatis/DSC06379.JPG
public/gallery/studio portatis/DSC06436.JPG
public/gallery/studio portatis/DSC06492.jpg
public/gallery/studio portatis/DSC06542.jpg
public/gallery/studio portatis/DSC06804.jpg
